.newFeature {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.navBar {
  display: flex;
  height: 48px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  background: #f2f3f7;
}

.titleBar {
  display: flex;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #4faef8;
  gap: 4px;
}

.whiteDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.red:hover {
  background-color: #ff5e5e;
  transition: 0.2s ease-in-out;
}

.yellow:hover {
  background-color: #fff25e;
  transition: 0.2s ease-in-out;
}

.green:hover {
  background-color: #74ff5e;
  transition: 0.2s ease-in-out;
}

.navItems {
  font-size: 13px;
  display: flex;
  gap: 20px;
  font-weight: 600;
  cursor: default;
}

.blueText {
  color: #4faef8;
}

.logo {
  width: 100px;
}

.wrapper {
  display: flex;
  width: 800px;
  height: fit-content;
  background: #f2f3f7;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tabDivider {
  height: 1.3px;
  width: 100%;
  background: #e5e9f2;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}

.newTaskButton {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  box-sizing: border-box;
  justify-content: center;
  gap: 6px;
  background-color: #b1d8f9;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 900px) {
  .newFeature {
    padding: 20px;
    flex-direction: column;
    padding: 0;
    height: fit-content;
  }

  .wrapper {
    flex-direction: column;
    width: 100%;
  }

  .navBar {
    height: 38px;
    padding: 8px 12px;
  }

  .hamburger {
    display: flex;
  }

  .navItems {
    display: none;
  }

  .logo {
    width: 90px;
  }
}
