.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px; /* Added padding for smaller screens */
}

.bookingPage {
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 100%; /* Ensure it adjusts to the viewport */
  max-width: 800px; /* Limit the maximum width */
}

.logo {
  width: 200px; /* Adjust logo size for smaller screens */
  margin-bottom: 20px;
}

.bookingTitle {
  font-size: 28px; /* Reduced size for smaller screens */
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.personWrapper {
  display: flex;
  justify-content: center; /* Center the items */
  flex-wrap: wrap;
  gap: 20px;
}

.person {
  text-align: center;
  width: 200px; /* Reduced width for smaller screens */
}

.personImage {
  width: 100%;
  border-radius: 10px;
}

.personName {
  font-size: 20px; /* Reduced size for smaller screens */
  color: #454545;
  margin-top: 10px;
  font-weight: 500;
}

/* Add media queries for smaller screens */
@media (max-width: 768px) {
  .bookingPage {
    padding: 15px;
  }

  .person {
    width: 150px; /* Further reduce width */
  }

  .personName {
    font-size: 20px; /* Further reduce font size */
  }

  .logo {
    width: 200px; /* Adjust logo size further */
  }

  .bookingTitle {
    font-size: 24px; /* Adjust title size */
  }
}

@media (max-width: 480px) {
  .personWrapper {
    gap: 15px; /* Smaller gap for compact screens */
    flex-direction: column;
    align-items: center;
  }

  .person {
    width: 200px; /* Adjust width for very small screens */
  }

  .personName {
    font-size: 14px; /* Smaller font for compact screens */
  }
}

a {
  text-decoration: none;
}
