.card {
  background-color: white;
  width: fit-content;
  height: 100%;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
  color: #2b99ff;
  width: 100%;
  text-align: center;
}

.featuresList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px 0px;
}

.featureItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.featureText {
  font-size: 17px;
  font-weight: 600;
  color: #6e757a;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .card {
    padding: 30px;
  }
  .featuresList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 15px 0px;
  }
  .featureText {
    font-size: 15px;
    font-weight: 600;
    color: #6e757a;
  }
}

@media (max-width: 550px) {
  .card {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
  }
  .featuresList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0px;
  }
  .featureText {
    font-size: 15px;
    font-weight: 600;
    color: #6e757a;
  }
}
