.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.compWrapper {
  /* width: calc(100% - 200px); */
  max-height: calc(100vh - 200px);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 100px;
}

@media (max-width: 900px) {
  .App {
    background-color: #f4f4f4;
    width: 100%;
  }
  .compWrapper {
    flex-direction: column-reverse;
    width: 100%;
    max-height: unset;
    padding: 50px;
  }
  body {
    background-color: #f4f4f4;
  }
}

@media (max-width: 550px) {
  .App {
    background-color: #f4f4f4;
    width: 100%;
  }
  .compWrapper {
    flex-direction: column-reverse;
    width: 100%;
    max-height: unset;
    padding: 50px;
  }
  body {
    background-color: #f4f4f4;
  }
}
