.calculatorWrapper {
  max-width: 520px;
  width: 520px;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
  gap: 8px;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.yearlySwapBtn {
  width: fit-content;
  height: 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #0099fe;
  padding: 4px 8px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

.title {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
  color: #0099fe;
}

.pricingTable {
  padding: 4px 8px;
}

.listingInput {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 4px 8px;
  text-align: center;
  border: #0099fe 2px solid;
  font-size: 16px;
  font-weight: bold;
}

.contentWrapper {
  display: flex;
  width: 100%;
  height: 40px;
  gap: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.avgListings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ccc;
  /* color: white; */
  color: black;
  padding: 4px 8px;
  /* font-weight: bold; */
  text-align: center;
  /* background-color: #0099fe; */
  background-color: transparent;
  border: 1px solid rgba(172, 172, 172, 0.636);

  position: relative;
  white-space: nowrap;
}

.contactUsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ccc;
  color: white;
  padding: 4px 8px;
  font-weight: bold;
  text-align: center;
  background-color: #0099fe;
  cursor: pointer;
  text-decoration: none;
}

.contactUsBtn:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-4px);
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.calcButton {
  width: 100px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #0099fe;
  padding: 4px 8px;
  text-align: center;
  cursor: pointer;
}

.discountLabel {
  position: absolute;
  top: -18px;
  right: -12px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: #0099fe;
}

.freeTrialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ccc;
  color: white;
  padding: 4px 8px;
  font-weight: bold;
  text-align: center;
  background-color: #0099fe;
  position: relative;
  text-decoration: none;
  margin-top: 8px;
}

.freeTrialButton:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-2px);
}

.tableData {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.logoWrapper {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

.logo {
  height: 100%;
  width: auto;
}

@media (max-width: 900px) {
  .calculatorWrapper {
    padding: 30px;
    width: 100%;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 8px;
  }

  .pricingTable {
    font-size: 13px;
  }

  .avgListings {
    width: auto;
  }

  .freeTrialButton {
    margin: 0;
    width: auto;
    height: 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #0099fe;
    padding: 4px 8px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    white-space: nowrap;
  }

  .contactUsBtn {
    width: auto;
    height: 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #0099fe;
    padding: 4px 8px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    white-space: nowrap;
  }
}

@media (max-width: 550px) {
  .calculatorWrapper {
    padding: 30px;
  }

  .headerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .yearlySwapBtn {
    width: 100%;
  }
  .inputWrapper {
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 8px;
  }

  .contactUsBtn {
    width: auto;
    height: 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #0099fe;
    padding: 4px 8px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    white-space: nowrap;
  }

  .avgListings {
    width: auto;
  }

  .pricingTable {
    font-size: 13px;
  }

  .freeTrialButton {
    margin: 0;
    width: auto;
    height: 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #0099fe;
    padding: 4px 8px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    white-space: nowrap;
  }
}
