<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pricing Calculator</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="calculatorWrapper" class="calculatorWrapper">
      <div id="headerWrapper" class="headerWrapper">
        <div id="title" class="title">Pricing Calculator</div>
        <button id="yearlySwapBtn" class="yearlySwapBtn">Switch to Yearly</button>
      </div>
      <div id="inputWrapper" class="inputWrapper">
        <input id="listingInput" class="listingInput" placeholder="Enter Listing Count" />
      </div>
      <table id="pricingTable" class="pricingTable">
        <thead>
          <tr>
            <th>Listings</th>
            <th>Cost/Listing</th>
            <th>My Listings</th>
            <th>My Cost</th>
          </tr>
        </thead>
        <tbody id="tableBody"></tbody>
      </table>
      <div id="contentWrapper" class="contentWrapper">
        <div id="avgListings" class="avgListings">Avg Listing Cost: $0</div>
        <div id="totalCost" class="avgListings">Monthly Cost: $0</div>
      </div>
      <div id="freeTrialButton" class="freeTrialButton">Start 14-day free trial</div>
    </div>
    <script src="BestyCalcVanilla.js"></script>
  </body>
</html>
